<!doctype html>
<html data-ng-app="RestaurantManager">
    <head>
        <meta charset="utf-8" />

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <link rel="stylesheet" href="stylesheet/app.css" />
    </head>
    <body>
        <div class="fullscreen" data-ng-controller="LoginCtrl">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header pull-left">
                        <a class="navbar-brand" href="#{{ 's1' | routeSegmentUrl}}" >Restaurant finder</a>
                    </div>
                    <div class="navbar-header pull-right">
                        <div login-menu login="login()" logout="logout()"></div>
                    </div>
                </div>
            </nav>
            <div class="loginMessage" data-ng-if="user.showMessage" data-ng-cloak>
                <button type="button" class="btn btn-default closeBtn" data-ng-click="user.showMessage = false;">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <p>You tried to access a restricted page please login</p>
                <div login-menu login="login()" logout="logout()"></div>                
            </div>
            <div class="container-fluid">                
                <div id="contents" app-view-segment="0"></div>
            </div>
        </div>
             

        <script src="scripts/vendor/angular.js"></script>
        
        <script src="scripts/vendor/angular-route.js"></script>
        <script src="scripts/vendor/angular-resource.js"></script>
        <script src="scripts/vendor/angular-animate.js"></script>
        <script src="scripts/vendor/angular-route-segment.min.js"></script>
        <script src="scripts/vendor/ui-bootstrap-tpls.js"></script>


        <script src='scripts/vendor/lodash.min.js'></script>
        <script src='scripts/vendor/angular-google-maps.js'></script>

        <script type="text/javascript" src="dist/app.js"></script>

    </body>
</html>