<div class="searchLoading" data-ng-if="restData.loading">
	<div></div>
</div>
<div data-ng-if="!errorMessage" class="searchForms" >
	<div class="freeSearchForm">
		<form class="form-inline" data-ng-submit="freeSearch(searchWords)">
			<div class="form-group has-feedback">
				<input class="form-control" id="searchWords" data-ng-model="searchWords" placeholder="Search for restaurants" />
				<i class="glyphicon glyphicon-search form-control-feedback"></i>
			</div>
		</form>   
	</div>
	<div class="tagSearchForm">
		<form class="form-inline">
			<div class="form-group">
				<tags-autocomplete></tags-autocomplete>
			</div>
			<button type="submit" data-ng-disabled="restData.loading" data-ng-click="tagSearch(tagAutocomplete)" class="btn btn-default">Search</button>
		</form>
		<div data-ng-if="tagError" >
			<p class="autoCompleteError">{{tagError}}</p>
		</div>	
	</div>
	<div class="userSearchForm">
		<form class="form-inline">
			<div class="form-group">
				<users-autocomplete></users-autocomplete>
			</div>
			<button type="submit" data-ng-disabled="restData.loading" data-ng-click="userSearch(userAutocomplete)" class="btn btn-default">Search</button>
		</form>
		<div data-ng-if="userError" >
			<p class="autoCompleteError">{{userError}}</p>
		</div>
	</div>
		
</div>
<div data-ng-if="errorMessage" class="errorInfo errorMessage">
	<p>{{errorMessage}}</p>
</div>
