<div class="jumbotron">
<h1>API-nyckel</h1>
<p>Domän: <%= @apikey.domain %></p>
<p>Nyckel: <%= @apikey.key %></p>

<p><%= link_to "Ta bort nyckel", user_apikey_path(@user, @apikey),
 method: :delete, data: {confirm: "Är du säker på att du vill ta bort användaren?"} %></p>
 <p><%= link_to "Redigera nyckel", edit_user_apikey_path(@user, @apikey) %></p>
</div>