<div class="row fullheight">
	<div class="col-md-3 fullheight">
		
		<a href="#{{ 's1' | routeSegmentUrl}}">Home</a>	
		<a href="#{{ 's1.search' | routeSegmentUrl}}">Search</a>
		<a href="#{{ 's1.create' | routeSegmentUrl}}">Create</a>
		<a href="#{{ 's1.created' | routeSegmentUrl}}">My restaurants</a>
				
		<div app-view-segment="1"></div>

		<p data-ng-show="!restData.restaurants.length">Inga restauranger</p>
		
		<ul data-ng-if="restData.restaurants.length" class="restaurantList list-unstyled">
			<li data-ng-repeat="restaurant in restData.restaurants" >
				<div data-ng-click="showMoreInfo = !showMoreInfo">
					<p>{{restaurant.name}}</p>
					<p>Tel: {{restaurant.phone}}</p>
					<a data-ng-if="restData.ownRestaurants" href="#{{ 's1.edit' | routeSegmentUrl: {id: restaurant.id} }}">Edit</a>
				</div>
				<div data-ng-show="showMoreInfo">
					<p>Address: {{restaurant.restaurants}}</p>
					<p>{{restaurant.description}}</p>
				</div>

			</li>
		</ul>

		<div class="paginationBtns">
			<button class="btn btn-link" data-ng-disabled="restData.firstUrl.length < 1 || restData.prevUrl.length < 1" data-ng-click="paginate(restData.firstUrl)">&lt;&lt;</button>
			<button class="btn btn-link" data-ng-disabled="restData.prevUrl.length < 1" data-ng-click="paginate(restData.prevUrl)">&lt;</button>
			<button class="btn btn-link" data-ng-disabled="restData.nextUrl.length < 1" data-ng-click="paginate(restData.nextUrl)">&gt;</button>
			<button class="btn btn-link" data-ng-disabled="restData.lastUrl.length < 1 || restData.nextUrl.length < 1" data-ng-click="paginate(restData.lastUrl)">&gt;&gt;</button>
		</div>
	</div>
	<div class="col-md-9 fullheight">
		<ui-gmap-google-map center='restData.map.center' zoom='restData.map.zoom' bounds="restData.map.bounds" draggable="true" control="restData.map.control">
			<ui-gmap-markers models="restData.restaurantmarkers" coords="'self'" dra icon="'icon'"></ui-gmap-markers>
			<ui-gmap-marker data-ng-if="restData.selectmarker.show" coords="restData.selectmarker.coords" options="restData.selectmarker.options" events="restData.selectmarker.events" idkey="restData.selectmarker.id">
		</ui-gmap-google-map>	
		
	</div>
</div>





