html, body {
    height: 100%;
}

.fullscreen {
	height: calc( 100% - 30px);
    min-height: calc( 100% - 30px);
}
.container-fluid, .fullheight, .angular-google-map-container, .angular-google-map {    
	height: 100%;
    min-height: 100%; 
}


