html, body, #contents {
    height: 100%;
}

.fullscreen {
	height: calc( 100% - 30px);
    min-height: calc( 100% - 30px);
}
.container-fluid, .fullheight, .angular-google-map-container, .angular-google-map {    
	height: 100%;
    min-height: 100%; 
}


.paginationBtns {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.paginationBtns .btn {
	width: 25%;
	font-size: 2em;
	float: left;
	height: 70px;
	padding: 0;
}